div#home-page {
    /* dimensions */
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 700px) {
    div#home-page {
        flex-direction: column;
    }

    div#home-page img#logo-img {
        width: 200px !important;
        margin-left: 0px !important;
    }

    div#home-page form {
        padding: 25px 20px !important;
    }
}

div#home-page img#logo-img {
    width: 300px;
    margin-left: 60px;
    margin-top: 30px;

    /* initial values */
    opacity: 0;
    margin-bottom: 80px;

    /* animation */
    transition: opacity 800ms ease, margin-bottom 800ms ease;
    -o-transition: opacity 800ms ease, margin-bottom 800ms ease;
    -ms-transition: opacity 800ms ease, margin-bottom 800ms ease;
    -moz-transition: opacity 800ms ease, margin-bottom 800ms ease;
    -webkit-transition: opacity 800ms ease, margin-bottom 800ms ease;
}

div#home-page form {
    /* content */
    display: flex;
    flex-direction: column;
    /* dimensions */
    padding: 20px 10px;
    max-width: 380px;
    width: 100%;
}

div#home-page form#ticket-form {
    /* initial values */
    opacity: 0;
    margin-top: 80px;

    /* animation */
    transition: opacity 800ms ease, margin-top 800ms ease;
    -o-transition: opacity 800ms ease, margin-top 800ms ease;
    -ms-transition: opacity 800ms ease, margin-top 800ms ease;
    -moz-transition: opacity 800ms ease, margin-top 800ms ease;
    -webkit-transition: opacity 800ms ease, margin-top 800ms ease;
}

div#home-page form label {
    /* dimensions */
    margin-top: 10px;
    margin-left: 10px;
    color: #303030;
}

div#home-page form input, form textarea, form select {
    /* dimensions */
    width: 100% !important;
    margin-top: 5px !important;
    padding: 8px 10px;
    font-size: 12pt;
    /* shape */
    border-radius: 5px;
    /* other */
    border: none;
    background-color: #00000010;
    resize: none;
    font-family: sans-serif;
    color: #303030;
    border: 1px solid #30303000;

    -webkit-appearance: none;
}

div#home-page form textarea {
    overflow-y: scroll;
}

div#home-page form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border: 1px solid #30303055;
}

div#home-page form input[type=submit] {
    margin-top: 25px !important;
    padding: 15px;
    cursor: pointer;
    background-color: #00000025;
    /* text-transform: uppercase; */
    /* background-color: #57cc99; */
    background-color: #57cc99;
    color: #454545;

}

div#home-page form input[type=submit] {
    width: 200px !important;
    border-radius: 30px;
    margin-left: calc(100% - 200px);
}

div#home-page form input[type=submit]:focus {
    border: none;
}

div#home-page form input[type=submit]:hover {
    background-color: #57ccA0;

}


div#home-page form input[type=submit]:active {
    color: black;
}

/* ================== WARNING ================== */

div#warning {
    /* position*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    /* content */
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* others */
    background-color: #00000055;
    /* animation */
    transition: opacity 750ms ease;
    -o-transition: opacity 750ms ease;
    -ms-transition: opacity 750ms ease;
    -moz-transition: opacity 750ms ease;
    -webkit-transition: opacity 750ms ease;
}

div#warning > div {
    /* dimension */
    width: 300px;
    /* others */
    background-color: white;
    /* shape */
    border-radius: 8px;
}

div#warning > div header {
    /* content */
    color: white;
    /* dimensions */
    padding: 15px 10px;
    /* shape */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

div#warning > div div {
    /* content */
    color: #454545;
    /* dimension */
    padding: 10px;
}